<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/">Research</a></li>
	        		<li><a href="/">Publications</a></li>
	        		<li><a href="/">Resource</a></li>
	        		<li><a href="mailto:yuisheng@gmail.com">Contact</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
                    &reg; Zhen Zhang, 2018
				</ul>
			</footer>
		</body>
	</html>

